In [1]:
##QUESTION 1 


str = "string"

list = [1,2,3,4]

float = 243.324

tuple = (1,2,3,4,"aalu")

print(type(str))
print(type(list))
print(type(float))
print(type(tuple))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [2]:
##QUESTION 2


var1 = ''

var2 = '[DS,ML,PYTHON]'

var3 = ['DS', 'ML','Python']
 
var4 = 1.  

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [3]:
##QUESTION 3

a = 6
b = 3

## "/" is used for division
print ('Division: ', a / b)

## "%" is used for modulus
print ('Modulus: ', a % b)

## "//" is used for division
print ('Floor Division: ', a // b)

## "**" is used for division
print ('Power: ', a ** b)

Division:  2.0
Modulus:  0
Floor Division:  2
Power:  216

In [4]:
##QUESTION 4


a = [1,1.2,"abcd",True, 2 +4j, ]

for i in a :
    print(i)
    print(type(i))

1
<class 'int'>
1.2
<class 'float'>
abcd
<class 'str'>
True
<class 'bool'>
(2+4j)
<class 'complex'>

In [5]:
##QUESTION 6

a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for i in a :
    if i % 3 == 0 :
        print( i, 'is divisible by 3')
    else :
        print( i, 'is not divisible by 3')

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [6]:
##QUESTION 7

print("A mutable object can be changed after it is create. Examples : List, Dictionary")

list = [1,2,3,4]

list[1] = 'two'


dict = {'name' : "dev"}

dict['name'] = "rohit"

print(list)
print(dict)

print("An immutable object cannot be changed after it is created. Examples : tuples")

A mutable object can be changed after it is create. Examples : List, Dictionary
[1, 'two', 3, 4]
{'name': 'rohit'}
An immutable object cannot be changed after it is created. Examples : tuples